<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Aite</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">
                            <i class="fas fa-home"></i> الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users' %}">
                            <i class="fas fa-users"></i> الناس لي مسجلين
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.username %}">
                            {% if user.profile_picture %}
                                <img src="{{ user.profile_picture.url }}" class="profile-picture" alt="بروفايل">
                            {% else %}
                                <img src="{% static 'network/default_profile.png' %}" class="profile-picture" alt="افتراضي">
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i> خرج علينا
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i> سجل الدخول
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">
                            <i class="fas fa-user-plus"></i> صنع كونت
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
